/* App */
.App {
  text-align: left;
  display: inline;
  overflow: hidden;
}

.App-header{
  width: 100vw;
  background-color: rgb(0, 0, 0, .2);
}

.App-logo {
  height: 80px;
}

/* Scrollbar */

.Scrollbar {
  display: inline-block;
  position:absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.content {
  display:block;
  padding: 10px 0px 10px;
  font-size: 18px;
  background-color:transparent;
  border:none;
  color:#C0C0C0;
}

.content:hover {
  color:white;
  transition: .2s;
}

button:focus{
  outline:none;
}

/* Contents */

.display_wrapper{
  height: 760px;
  width: 900px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .display_wrapper{
    height: 760px;
    width: 900px;
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Scrollbar {
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }  
}

@media screen and (max-height: 750px) {
  .App-header{
    display: none;
    width: 100vw;
    background-color: rgb(0, 0, 0, .2);
  };
} 


.display {
  display: flex;
  flex-direction: column;
  position:absolute;
  transition:.4s;
  transition-timing-function: ease-out;
  height:100%;
  width:100%;
  height: 600px;
  top:12%;
}

.card {
  min-height:100%;
  margin-bottom: 100px;
  flex:1;
  border-radius: 10px;
}

.Projects {
  overflow:hidden;
}

.Skills{
  background-color: rgb(0, 0, 0, .2);
}

.Personal {
  background-color: rgb(0,0,0,.2);
}

/* Home */

.Home {
  display: grid;
  grid-template: repeat(3, 1fr)/ repeat(4, 1fr);
  background-color: rgb(0, 0, 0, .2);
}

.NameCard {
  display: grid;
  grid-template-rows: 2;
  font-size: 56px;
  grid-column: 2 / 5;
  color: white;
  justify-items: left;
}

.NameCard__Container {
  display:flex;
  height: 100%;
  width: 100%;
}

.NameCard__Name {
  text-align: left;
  align-self: flex-end;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.NameCard__Occupation {
  height: 100%;
  width: 100%;
}

.ProfilePic {
  grid-column: 1;
  align-self: end;
}

.ProfilePic{
  clip-path: circle(80px at center);
  border: 2px solid white;
}

.AboutMe {
  color:white;
  text-align: center;
  padding: 5% 5%;
  font-size: 22px;
  letter-spacing: .2px;
  grid-area: 2/1/5/5;
}
/* Skills */
.row{
  top: -5%;
  display:flex;
  justify-content: space-between;
  margin: 12%;
}

.skill_icon{
  max-height:110px;
  max-width:120px;
  flex:1;
}

/* Personal */

.grid-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: stretch;
  height:100%;
  border: none;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  color:white;
  text-align: center;
  border:none;
}

.grid-item:first-child{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-item:nth-child(2){
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-item:nth-child(3){
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.grid-item:last-child{
  border-left: 1px solid black;
  border-top: 1px solid black;
}



/* Contact */

.contact_title{
  position: relative;
  font-size: 45px;
  letter-spacing: 2px;
  color: white;
  height:40%;
  top:20%;
  text-align:center;
}

.info{
  height: 40vh;
  position: relative;
  top: 18%;
  border-radius: 10px;
  background-color: rgb(0,0,0,.8);
}

.contact_info{
  text-align:center;
}

.linkedin{
  color:white;
}

.github{
  color:white;
}

.contact_email{
  color:white;
  text-align: center;
  font-size:15px;
  top: 100px;
  margin-bottom: 20px;
}

.contact_icon{
  left: 0 !important;
}

.button_linkedin{
  background-color: rgb(65, 123, 247);
  transition: .2s;
}

.button_github{
  background-color: rgb(102, 98, 98);
  transition: .2s;
}

.button_github:hover, 
.button_linkedin:hover, 
.button_toonflix:hover, 
.button_juicebox:hover{
  transform: translateY(-2px);
  box-shadow: 1px 1px 0px 0.4 white;
  transition: .2s;
}

.redirect{
  height: 60px;
  width: 250px;
  position:relative;
  border-radius: 15px;
  border: none;
  margin: 20px;
}

/* .skill_icon:not(:last-child){
  border-right: 1px solid black;
} */




/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
