body {
  min-height: 920px;
  min-width: 1200px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 47, 75, .5),
    rgba(220, 66, 37, .5)),
    url(../img/bridge.jpg);
  background-size: 2400px 1800px;
  background-repeat: no-repeat;
  background-attachment:fixed;
  /* position: fixed; */
}

